@import url(https://fonts.googleapis.com/css?family=Bangers:regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Bangers;
    font-size: 20px;
    color: #d9d9d9;
    font-weight: 400;
    &._active {
        overflow: hidden;
    }
}
img {
    vertical-align: top;
}
ul,
ol,
li {
    list-style: none;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
._container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
.wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header {
    background: #7d6e83;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__content {
        display: flex;
        align-items: center;
        height: 115px;
        justify-content: space-between;
    }

    &__logo {
        cursor: pointer;
        z-index: 100;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 128px;
        @media (max-width: 940px) {
            flex-direction: column;
            align-items: center;
            gap: 90px;
        }
    }

    &__body {
        position: relative;
        z-index: 3;
        transition: all 0.5s 0s ease;

        @media (max-width: 940px) {
            background-color: #7d6e83;
            transform: translate(0, -100%);
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: auto;
            padding: 100px 0px 20px 0px;

            &._active {
                transform: translate(0, 0);
            }
        }
    }

    &__link {
        font-size: 43px;
        line-height: 46px;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 940px) {
    .icon-menu {
        display: block;
        position: absolute;
        top: -16px;
        right: 17px;
        width: 47px;
        height: 31px;
        cursor: pointer;
        z-index: 5;
    }
    .icon-menu span {
        transition: all 0.3s 0s ease;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #d9d9d9;
    }
    .icon-menu span:first-child {
        top: 0;
    }
    .icon-menu span:last-child {
        top: auto;
        bottom: 0px;
    }
    ._active {
    }
    ._active span {
        transform: scale(0);
    }
    ._active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    ._active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 4px);
    }
}

.home {
    position: relative;
    &__content {
        z-index: 10;
        padding: 232px 0px 349px 0px;
    }

    &__info {
        font-size: 39px;
        line-height: 41px;
        color: #a27b5c;
        max-width: 1045px;
        @media (max-width: 940px) {
            text-align: center;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        @media (max-width: 530px) {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        gap: 113px;
        @media (max-width: 940px) {
            gap: 50px;
            justify-content: center;
        }
        @media (max-width: 530px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
        cursor: pointer;
        transition: all 0.3s linear;
        background: #967e76;
        border-radius: 60px;
        padding: 16px 54px;
        color: #eee3cb;
        &:hover {
            background: #eee3cb;
            color: #967e76;
        }
        @media (max-width: 940px) {
            padding: 13px 40px;
        }
    }

    &__link {
        font-size: 39px;
        line-height: 41px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.place {
    position: relative;

    &__textblock {
        text-align: center;
        background-color: #7d6e83;
        padding: 56px 0px;
        @media (max-width: 940px) {
            padding: 40px 0px;
        }
        @media (max-width: 530px) {
            padding: 30px 0px;
        }
    }

    &__text {
        font-size: 80px;
        line-height: 85px;
        color: #ffffff;
        @media (max-width: 940px) {
            font-size: 40px;
        }
        @media (max-width: 530px) {
            font-size: 30px;
        }
    }
}
.place iframe {
    width: 100%;
}

.place-girl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 1100px;
}

.menu {
    position: relative;

    &__girl {
        position: absolute;
        z-index: -1;
        @media (max-width: 1040px) {
            display: none;
        }
    }

    &__container {
        padding: 121px 0px 342px 0px;
    }

    &__title {
        font-size: 80px;
        line-height: 97px;
        color: #000000;
        text-align: center;
        margin-bottom: 24px;
    }

    &__titlee {
        font-size: 42px;
        line-height: 45px;
        color: #000000;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        @media (max-width: 1040px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
    }

    &__item {
        padding: 13px 17px 25px 17px;
        background-color: #7d6e83;
        text-align: center;
        max-width: 310px;
        border-radius: 30px;
    }

    &__image {
        margin-bottom: 13px;
    }

    &__info {
        max-width: 228px;
        margin: 0 auto;
    }

    &__text {
        font-size: 20px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        margin-bottom: 18px;
    }

    &__buttom {
        cursor: pointer;
        transition: all 0.3s linear;
        padding: 17px 0px;
        background: #967e76;
        border-radius: 50px;
        color: #eee3cb;
        &:hover {
            background: #eee3cb;
            color: #967e76;
        }
    }

    &__linkk {
        font-size: 32px;
        line-height: 34px;
        text-decoration: none;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }
}
.lox {
    position: relative;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    &__girl {
        text-align: center;
    }

    &__girl img {
        max-width: 100%;
    }
}
.footer {
    background: #7d6e83;
    &__content {
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 43px;
        line-height: 46px;
        color: #d9d9d9;
        @media (max-width: 940px) {
            flex-direction: column;
            text-align: center;
            font-size: 30px;
            line-height: 33px;
            justify-content: center;
        }
    }

    &__list {
        display: flex;
        gap: 72px;
        @media (max-width: 940px) {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__authors {
        @media (max-width: 940px) {
            margin-bottom: 15px;
        }
    }
    &__link {
        &:hover {
            text-decoration: underline;
        }
    }
}
